/*
STYLESHEET FOR CHANNELS ON THE SITE
*/

/*
STYLING CHANNEL PAGES
*/

.channel .channel-banner {
	height: 120px;
	background-color: black;
}

.channel .channel-banner #channel-icon {
	display: inline-block;
	vertical-align: top;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.channel .channel-banner #channel-icon img {
	border-radius: 50px;
	border-color: #adff12;
	border-width: 2px;
	border-style: solid;
}

.channel .channel-banner #channel-name {
	display: inline-block;
	padding: 20px 0;
}

.channel .channel-banner #subscribebutton {
	width: 8rem;
	height: 2.5rem;
	font-size: 20px;
	color: #adff12;
	border: 2px solid #adff12;
	background-color: #2f2f2f;
	vertical-align: text-top;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-right: 20px;
	float: right;
}

.channel .channel-content :not(#playlists){
	display: flex;
	flex-wrap: wrap;
}

.channel .channel-content #playlists {
	display: block;
}

.channel .channel-content .video {
	width: 25%;
}

.channel .channel-content .video .thumbnail {
	vertical-align: top;
	height: 16vw;
}

.channel .channel-content .video {
	font-size: 1vw;
}

/*
STYLE THE MINI CHANNELS
*/

.minichannel * {
	display: inline-block;
	vertical-align: top;
}

.minichannel #channel-icon {
	width: 70px;
	height: 70px;
	border-radius: 50px;
}
