/*
STYLESHEET FOR CHANNELS ON THE SITE
*/

/*
STYLE THE CHANNEL BANNER
*/
.channel .channel-banner {
	height: 120px;
	background-color: black;
}

.channel .channel-banner #channel-icon {
	display: inline-block;
	vertical-align: top;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.channel .channel-banner #channel-icon img {
	border-radius: 50px;
	border-color: var(--green);
	border-width: 2px;
	border-style: solid;
}

.channel .channel-banner #channel-name {
	display: inline-block;
	padding: 20px 0;
}

.channel .channel-banner #subscribebutton {
	width: 8rem;
	height: 2.5rem;
	font-size: 20px;
	color: var(--green);
	border: 2px solid var(--green);
	background-color: var(--medium-grey);
	vertical-align: text-top;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-right: 20px;
	float: right;
}

/*
STYLE THE NAVIGATION TABS FOR DIFFERENT CHANNEL SECTIONS
*/
.channel #tabs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--dark-grey);
	border: 1px solid var(--green);
}

.channel #tabs button {
	border: 2px solid var(--green);
	padding: 5px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	background-color: var(--medium-grey);
}

/*
STYLE THE PLAYLIST SECTION OF THE CHANNEL PAGE
*/
.channel #playlists {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 30%;
	margin: 0 auto;
}

/*
STYLE THE SHOUTOUTS SECTION OF THE CHANNEL PAGE
*/
.channel #shoutouts #shoutoutform {
	width: 30vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.channel #shoutouts #shoutoutform button {
	width: 100px;
	margin-left: calc(50% - 50px);
	margin-top: 0.5vw;
}

/*
STYLE THE ABOUT SECTION OF THE CHANNEL PAGE
*/
.channel #about {
	width: 50vw;
	text-align: center;
	margin: 0 auto;
	padding: 5px;
	background-color: var(--dark-grey);
}

/*
STYLE THE SETTINGS SECTION OF THE CHANNEL PAGE
*/
.channel #settings {
	width: 20vw;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
	background-color: var(--dark-grey);
}

/*
STYLE THE MINI CHANNELS
*/

.minichannel {
	display: flex;
	align-items: center;
	background-color: var(--dark-grey);
}


.minichannel * {
	margin-left: 5px;
	margin-right: 5px;
}


.minichannel #channel-icon {
	width: 70px;
	height: 70px;
	border-radius: 50px;
}

.minichannel #subscribebutton {
	width: 8rem;
	height: 2.5rem;
	font-size: 20px;
	color: var(--green);
	border: 2px solid var(--green);
	background-color: var(--medium-grey);
}
