/*
COMMENTS SECTION
*/

.container .comments {
	grid-area: comments;
	width: 1000px;
}

.container .comments #commentform form button{
	color: #adff12;
	background-color: #3f3f3f;
}

.container .comments #commentform form #commentbtn {
	width: 200px;
	height: 40px;
}

.container .comments #theComments .commentlikes * {
	display: inline-block;
}

.container .comments #theComments .commentlikes button {
	width: 2.5rem;
	height: 2.5rem;
	color: #3f3f3f;
	background-color: #adff12;
	border: 2px solid #adff12;
	vertical-align: text-top;
}

.container .comments #theComments .commentlikes #replybtn {
	width: 5rem;
	height: 2.5rem;
	border-width: 4px;
	border-color: black;
}


.container .comments #theComments .commentlikes #showreplies {
	width: 5rem;
	height: 2.5rem;
	border-width: 4px;
	border-color: black;
}

.container .comments #theComments .replybox {
	display: none;
	background-color: #1f1f1f;
	border: solid black;
	border-width: 5px;
	z-index: 10;
}

.container .comments #theComments .replybox button {
	width: 5rem;
	height: 2.5rem;
	background-color: #adff12;
	color: #3f3f3f;
}

.container .comments #theComments .replybox input[type="button"] {
	width: 5rem;
	height: 2.5rem;
	background-color: #adff12;
}

.container .comments #theComments .replies {
	display: none;
	background-color: #1f1f1f;
	padding: 15px;
}

.container .comments #theComments .morerepliesbtn {
	color: #adff12;
	background-color: #1f1f1f;
	width: 150px;
	border: solid #adff12;
	border-width: 5px;
	padding: 5px;
	margin-top: 35px;
}
