/*
STYLESHEET FOR MISC OR GENERAL STYLING
*/


/*
GLOBAL ACCESS OF TAGS
*/
body {
	background-color: #3f3f3f;
	color: #adff12;
	font-family: monospace,Menlo,DejaVu Sans Mono,Lucida Console;
	font-smooth: never;
	font-weight: 600;
}

a {
	color: #adff12;
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a img:hover {
	opacity: 0.5;
}

button {
	color: #adff12;
	background-color: #3f3f3f;
}


/*
MISC STYLING
*/

.underlinelinks {
	text-decoration: underline;
}

.hardtoseetext {
	color: black;
	text-shadow: 1px 1px 0 #adff12, -1px -1px 0 #adff12, 1px -1px 0 #adff12, -1px 1px 0 #adff12;
}


/*
STYLING FOR FORMS
*/

.authform input[type="text"] {
	width: 250px;
}

.authform input[type="email"] {
	width: 250px;
}

.authform input[type="password"] {
	width: 250px;
}

.authform h4 {
	margin: 3px;
}


/*
MAIN TAG STYLING
*/
main {
	margin-top: 120px;
}

/*
STYLING FOR DROPDOWN MENUS
*/
.dropdown {
	position: relative;
	background-color: #1f1f1f;
	max-width: 100px;
	margin-left: 30px;
	margin-right: 30px;
}

.dropdown-content {
	display: none;
	position: absolute;
	text-align: center;
	background-color: #1f1f1f;
	z-index: 2;
	width: 100%
	overflow: auto;
}

.dropdown:hover .dropdown-content {
	display: inline-block;
}


/*
STYLING FOR LOADING ANIMATIONS ON THE SITE
*/
.lds-hourglass {
	display: none;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-hourglass:after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	margin: 8px;
	box-sizing: border-box;
	border: 32px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
	0% {
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	100% {
		transform: rotate(1800deg);
	}
}
