/*
STYLESHEET FOR MISC OR GENERAL STYLING
*/


/*
GLOBAL ACCESS OF TAGS
*/
body {
	background-color: #3f3f3f;
	color: #adff12;
	font-family: Charcoal, monospace, sans-serif;
	font-smooth: never;
}

a {
	color: #adff12;
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a img:hover {
	opacity: 0.5;
}

button {
	color: #adff12;
	background-color: #3f3f3f;
}


/*
MISC STYLING
*/

.underlinelinks {
	text-decoration: underline;
}

.hardtoseetext {
	color: black;
	text-shadow: 1px 1px 0 #adff12, -1px -1px 0 #adff12, 1px -1px 0 #adff12, -1px 1px 0 #adff12;
}


/*
STYLING FOR FORMS
*/

.authform input[type="text"] {
	width: 250px;
}

.authform input[type="email"] {
	width: 250px;
}

.authform input[type="password"] {
	width: 250px;
}

.authform h4 {
	margin: 3px;
}


/*
MAIN TAG STYLING
*/
main {
	margin-left: 120px;
	margin-top: 120px;
}

/*
NAVBAR STYLING
*/

nav {
	position: sticky;
	top: 0;
	z-index: 2;
}

nav .navbar {
	background-color: #adff12;
	width: 100px;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	margin-left: 0px;
	z-index: auto;
}

nav .navbar #navbar-icon {
	background-color: #adff12;
	width: 100px;
	height: 100px;
}

nav .navbar #navbar-icon img {
	width: 70px;
	height: 70px;
	margin: 15px;
}

nav .navbar #navbar-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
}


/*
THE SITE BANNER AT THE TOP OF EACH PAGE
*/

/* style the banner in general */
nav .banner {
	background-color: #adff12;
	position: fixed;
	top: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 90px;
	width: 100%;
	z-index: auto;
}

/* style the banner icon to the left of the banner */
nav .banner #banner-icon {
}

nav .banner #banner-icon img {
	width: 100px;
	height: 80px;
	border: solid #3f3f3f;
	border-radius: 30%;
	margin: 5px;
}

/* style the search bar in the center of the banner */
nav .banner #searchbar {
	margin: 0 auto;
	transform: translateX(-25%);
}

nav .banner #searchbar form {
	display: grid;
	grid-template-areas:
	"searchbtn searchquery searchquery"
	"searchbtn searchrecs searchrecs";
}

nav .banner #searchbar #searchbtn {
	grid-area: searchbtn;
	margin-top: 50%;
	transform: translateY(-50%);
}

nav .banner #searchbar #searchbtn button {
	width: 45px;
	height: 45px;
	background-color: #7dff12;
	border-color: black;
	border-width: 5px;
}

nav .banner #searchbar #searchquerydiv {
	grid-area: searchquery;
}

nav .banner #searchbar #searchquerydiv input {
	height: 45px;
	background-color: #3f3f3f;
	color: #adff12;
	outline: none;
	border: 1px solid black;
	box-shadow: none;
}

nav .banner #searchbar #searchrecs {
	grid-area: searchrecs;
	display: none;
	position: absolute;
	text-align: center;
	background-color: #adff12;
	color: #2f2f2f;
	min-width: 80%;
	z-index: 1;
}

nav .banner #searchbar #searchrecs a {
	color: #2f2f2f;
}

/* style the channel link or sign-in link on the right side of the banner */
nav .banner #usercorner {
	position: relative;
	float: right;
	transform: translateX(-130%);
}

nav .banner #usercorner #channelcorner {
	width: 80px;
	height: 80px;
	background-color: #1f1f1f;
	border: none;
	border-radius: 50%;
}

nav .banner #usercorner #channelcorner:hover {
	cursor: pointer;
}

nav .banner #usercorner #channelcorner img {
	width: 60px;
	height: 60px;
	min-width: 50px;
	min-height: 50px;
	border-radius: 50%;
}

nav .banner #usercorner #signincorner {
	width: 100px;
	height: 60px;
	border: solid #4f4f4f;
	background-color: black;
	font-size: 20px;
}

/*MEDIA QUERIES*/
/*@media (max-width: 1060px) {
	nav .banner {
		width: 1060px;
	}
}
*/
