/*
STYLESHEET FOR MISC OR GENERAL STYLING
*/


/*
GLOBAL ACCESS OF TAGS
*/
body {
	background-color: #3f3f3f;
	color: #adff12;
	font-family: Charcoal, monospace, sans-serif;
	font-smooth: never;
}

a {
	color: #adff12;
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a img:hover {
	opacity: 0.5;
}

button {
	color: #adff12;
	background-color: #3f3f3f;
}


/*
MISC STYLING
*/

.underlinelinks {
	text-decoration: underline;
}

.hardtoseetext {
	color: black;
	text-shadow: 1px 1px 0 #adff12, -1px -1px 0 #adff12, 1px -1px 0 #adff12, -1px 1px 0 #adff12;
}


/*
STYLING FOR FORMS
*/

.authform input[type="text"] {
	width: 250px;
}

.authform input[type="email"] {
	width: 250px;
}

.authform input[type="password"] {
	width: 250px;
}

.authform h4 {
	margin: 3px;
}


/*
NAVBAR STYLING
*/

nav {
	position: sticky;
	top: 0;
	z-index: 2;
}

main {
	margin-left: 120px;
	margin-top: 120px;
}

nav .navbar {
	background-color: #adff12;
	width: 100px;
	height: 100vh;
	position: fixed;
	top: 0px;
	margin-left: 0px;
	z-index: auto;
}

nav .navbar #navbar-icon {
	margin: auto;
	background-color: #adff12;
}

nav .navbar #navbar-icon img {
	width: 100px;
	height: 80px;
}

nav .navbar #navbar-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
}


/*
THE SITE BANNER AT THE TOP OF EACH PAGE
*/

nav .banner {
	background-color: #adff12;
	position: fixed;
	top: 0px;
	margin-left: 100px;
	width: 100vw;
	z-index: auto;
}

nav .banner #banner-text {
	display: inline-block;
}

nav .banner #banner-text a {
	color: #2f2f2f;
}

nav .banner #banner-icon{
	display: inline-block;
	vertical-align: top;
}

nav .banner #searchbar {
	display: inline-block;
	position: relative;
	margin: auto;
}

nav .banner #searchbar button {
	width: 45px;
	height: 45px;
	float: left;
	background-color: #7dff12;
	border-color: black;
	border-width: 4px;
}

nav .banner #searchbar #searchquerydiv, #searchrecsdiv {
	margin-left: 47px;
}

nav .banner #searchbar #searchrecs {
	display: none;
	position: absolute;
	text-align: center;
	background-color: #adff12;
	color: #2f2f2f;
	min-width: 160px;
	z-index: 1;
}

nav .banner #searchbar #searchrecs a {
	color: #2f2f2f;
}

nav .banner #settings {
	display: inline-block;
}

nav .banner #settings #dropbtn {
	width: 45px;
	height: 45px;
	display: inline-block;
}

nav .banner #settings #dropdown-content {
	display: none;
}

nav .banner #settings:hover #dropdown-content {
	background-color: #ddd;
	color: black;
	display: block;
}

/*MEDIA QUERIES*/
@media (max-width: 1060px) {
	nav .banner {
		width: 1060px;
	}
}
