/*
STYLING FOR LIVE STREAM CHATS & CHAT REPLAYS
*/


/*
STYLING FOR THE CHAT BOX IN LIVE STREAMS
*/
.live-chat #chatBox {
	overflow-y: scroll;
	width: 580px;
	height: 450px;
	color: #adff12;
	background-color: #2f2f2f;
	border: solid black;
	border-width: 5px;
}

.live-chat-replay #chatBox {
	overflow-y: scroll;
	width: 580px;
	height: 450px;
	color: #adff12;
	background-color: #2f2f2f;
	border: solid black;
	border-width: 5px;
}


/*
STYLING FOR INDIVIDUAL CHAT MESSAGES
*/
.chatMessage {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.chatMessage * {
	margin: 10px;
}

.chatMessage img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
