/*
GLOBAL ACCESS OF TAGS
*/
body {
	/*
	min-width: 600px;
	min-height: 500px;
	*/
	background-color: #3f3f3f;
	color: #adff12;
	font-family: Charcoal, monospace, sans-serif;
}

a {
	color: #adff12;
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

img:hover {
	opacity: 0.5;
}

button {
	background-color: #3f3f3f;
}

/*
THE VIDEOS IN THE HOMEPAGE
*/

.home-videos {
	display: flex;
	flex-wrap: wrap;
}

.home-videos .video {
	padding-right: 0.5vw;
	padding-left: 0.5vw;
}

.home-videos .video .thumbnail {
	vertical-align: top;
}

.home-videos .video .links {
	font-size: 1rem;
}

.home-videos .video .links #channel-links * {
	display: inline-block;
	vertical-align: top;
}

.home-videos .video .links #channel-links #channel-icon {
	width: 3vw;
	height: 3vw
}


/*
VIDEO AND RECCOMENDATIONS
*/

.container {
	display: flex;
}


/*
VIDEO BEING VIEWED
*/

.container .video-contents .video-container {
	position: relative;
}

.container .video-contents .videotext button {
	color: black;
}

.container .video-contents .videotext hr {
	margin: 0;
}

.container .video-contents .video-container #video {
	object-fit: cover;
	width: 60vw;
	height: 45vw;
}

.container .video-contents .video-container:fullscreen #video {
	position: relative;
	width: 100%;
	height: 100%;
}


/*
STYLE VIDEO TEXT
*/

.container .video-contents .videotext {
	display: block;
}

.container .video-contents .videotext .channel-details #icon {
	display: inline-block;
	vertical-align: top;
}

.container .video-contents .videotext .channel-details #icon img {
	width: 5rem;
	height: 5rem;
}

.container .video-contents .videotext .channel-details #channel-text {
	display: inline-block;
}

.container .video-contents .videotext .channel-details #video-buttons {
	display: inline-block;
}

.container .video-contents .videotext .channel-details #video-buttons button {
	width: 8rem;
	height: 2.5rem;
	font-size: 20px;
	color: #adff12;
	border: 2px solid #adff12;
	background-color: #2f2f2f;
}

.container .video-contents .videotext #title {
	font-size: 2vw;
	text-transform: capitalize;
}

.container .video-contents.videotext .channel-details {
	font-size: 1vw;
}

.container .video-contents .videotext .channel-details #icon img {
	width: 4.5vw;
	height: 4.5vw;
}

.container .video-contents .videotext .channel-details #video-buttons button {
	width: 7.5vw;
	height: 2vw;
	font-size: 1vw;
}

.container .video-contents .videotext .description {
	font-size: 15px;
}

/*
VIDEO CONTROLS
*/

.container .video-contents .video-container .video-controls {
	display: flex;
	align-items: center;
	width: 90%;
	position: absolute;
	bottom: 20px;
	left: 10px;
	right: 10px;
	padding: 5px;
	opacity: 0;
	transition: opacity .3s;
	margin: 0 auto;
}

.container .video-contents .video-container:hover .video-controls {
	opacity: 0.9;
}

.container .video-contents .video-container .video-controls button {
	cursor: pointer;
	width: 5vw;
	height: 4.5vw;
	padding: 10px;
	background: #adff12;
	border-radius: 50px;
}

.container .video-contents .video-container .video-controls #seeker {
	width: 20vw;
}

.container .video-contents .video-container .video-controls #volumeslider {
	width: 10vw;
}

.container .video-contents .video-container .video-controls #videotime {
	font-size: 2vw;
}

.container .video-contents .video-container .video-controls #muteBtn, #fullscreenBtn, #playBtn {
	border: none;
}

.container .video-contents .video-container:fullscreen .video-controls {
	position: absolute;
	width: 100%;
}

.container .video-contents .video-container:fullscreen button {
	width: 100px;
	height: 100px;
}

.container .video-contents .video-container:fullscreen #seeker{
	width: 50vw;
}

.container .video-contents .video-container:fullscreen #volumeslider {
	width: 19vw;
}

/*
RECCOMENDATIONS WHILE VIEWING VIDEOS
*/
.container .reccomendations {
	flex-direction: column;
}

.container .reccomendations .links img {
	width: 20vw;
	height: 15vw;
	padding: 10px;
	float: left;
}

.container .reccomendations .links {
	display: inline-block;
	font-size: 0.8vw;
}

.container .reccomendations .links :not(a) :not(img) {
	display: inline;
	margin: 0px;
}

.container .reccomendations .links a {
	text-decoration: none;
}

/*
THE SITE BANNER AT THE TOP OF EACH PAGE
*/
.bannerObj {
	width: 100%;
	height: 100px;
}

.banner {
	background-color: #adff12;
}

.banner #banner-text {
	display: inline-block;
}

.banner #banner-text a {
	color: #2f2f2f;
}

.banner #banner-icon{
	display: inline-block;
	vertical-align: top;
}


/*
STYLING FOR FORMS
*/

.authform input[type="text"] {
	width: 250px;
}

.authform input[type="email"] {
	width: 250px;
}

.authform input[type="password"] {
	width: 250px;
}


/*
STYLING CHANNELS
*/

.channel .channel-banner {
	height: 80px;
}

.channel .channel-banner #channel-icon {
	display: inline-block;
	vertical-align: top;
	float: left;
}

.channel .channel-banner #channel-name {
	display: inline-block;
}

.channel .channel-content {
	display: flex;
	flex-wrap: wrap;
}

.channel .channel-content .video {
	width: 25%;
}

.channel .channel-content .video .thumbnail {
	vertical-align: top;
	height: 16vw;
}

.channel .channel-content .video {
	font-size: 1vw;
}
