#paymentRegistration {
	text-align: center;
	width: 50vw;
	margin: auto;
	background-color: var(--darkest-grey);
}

.adverts {
	text-align: center;
	margin: 30px;
	background-color: var(--darkest-grey);
	cursor: pointer;
}

#adSubmission {
	text-align: center;
	width: 50vw;
	margin: auto;
	background-color: var(--darkest-grey);
}

#adEdit {
	text-align: center;
	width: 50vw;
	margin: auto;
	background-color: var(--darkest-grey);
}

#adRegistration {
	text-align: center;
	width: 50vw;
	margin: auto;
	background-color: var(--darkest-grey);
}

#advertiserEdit {
	text-align: center;
	width: 50vw;
	margin: auto;
	background-color: var(--darkest-grey);
}

input[type="months"] {
	width: 30px;
	height: 30px;
	font-size: 20px;
}

.closeBtnAds {
	display: inline-block;
	float: right;
	color: black;
	background-color: white;
	border: solid gray;
}

#adStats {
	text-align: center;
	margin: 0 auto;
}

#adStats a {
	background-color: var(--darkest-grey);
	padding: 10px;
}

.adContainer {
	background-color: var(--darkest-grey);
	margin: 30px;
	padding: 10px;
	text-align: center;
}

.adContainer button {
	background-color: var(--darkest-grey);
}

#createAdBtn {
	background-color: var(--darkest-grey);
	margin: 0 auto;
}
