/*
STYLESHEET FOR CHANNELS ON THE SITE
*/

/*
STYLE THE CHANNEL BANNER
*/
.channel hr {
	width: 100%;
}

.channel .channel-banner {
	width: 100%;
	height: 30vw;
	background-color: black;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.channel .channel-banner #channel-icon img {
	border-radius: 50px;
	border-color: var(--green);
	border-width: 5px;
	border-style: solid;
}

.channel .channel-banner #channel-name {
	color: var(--green);
	background-color: var(--medium-grey);
	border: 5px solid var(--green);
	margin-left: 20px;
	margin-right: 100px;
}


.channel .channel-banner #subscribebutton {
	width: auto;
	height: 6rem;
	font-size: 40px;
	color: var(--green);
	border: 5px solid var(--green);
	background-color: var(--medium-grey);
}

/*
STYLE THE NAVIGATION TABS FOR DIFFERENT CHANNEL SECTIONS
*/
.channel #tabs {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: var(--dark-grey);
	border: 1px solid var(--green);
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.channel #tabs button {
	border: 5px solid var(--green);
	padding: 5px;
	background-color: var(--medium-grey);
	font-size: 40px;
}

/*
STYLE THE PLAYLIST SECTION OF THE CHANNEL PAGE
*/
.channel #playlists {
	margin: 0 auto;
	text-align: center;
	font-size: 40px;
	width: 100vw;
}

.channel #playlists > * {
	margin: 0 auto;
}

.channel #playlists .playlist-result {
	width: 100;
}

/*
STYLE THE SHOUTOUTS SECTION OF THE CHANNEL PAGE
*/
.channel #shoutouts {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.channel #shoutouts #shoutoutform {
	width: 30vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.channel #shoutouts #shoutoutform button {
	width: 100px;
	margin-left: calc(50% - 50px);
	margin-top: 0.5vw;
}

/*
STYLE THE ABOUT SECTION OF THE CHANNEL PAGE
*/
.channel #about {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 5px;
	background-color: var(--dark-grey);
	font-size: 40px;
}

/*
STYLE THE SETTINGS SECTION OF THE CHANNEL PAGE
*/
.channel #settings {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
	background-color: var(--dark-grey);
}

/*
STYLE THE MINI CHANNELS
*/

.minichannel {
	display: flex;
	align-items: center;
	background-color: var(--dark-grey);
	border: solid var(--green);
	border-width: 2px;
}


.minichannel * {
	margin-left: 5px;
	margin-right: 5px;
}


.minichannel #channel-icon {
	width: 70px;
	height: 70px;
	border-radius: 50px;
}

.minichannel #subscribebutton {
	width: 8rem;
	height: 2.5rem;
	font-size: 20px;
	color: var(--green);
	border: 2px solid var(--green);
	background-color: var(--medium-grey);
}
