/*
STYLESHEET FOR MISC OR GENERAL STYLING
*/


/*
GLOBAL ACCESS OF TAGS
*/
body {
	background-color: var(--black-navy);
	color: var(--green);
	font-family: monospace,Menlo,DejaVu Sans Mono,Lucida Console;
	font-smooth: never;
	font-weight: 600;
	/*text-shadow: -0.06em 0 0.5px var(--darkest-navy);*/
	overflow: auto;
}

a {
	color: var(--green);
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a img:hover {
	opacity: 0.5;
}

button {
	color: var(--green);
	background-color: var(--dark-grey);
	border: solid var(--green) 3px;
}

input, textarea {
	background-color: var(--medium-grey);
	color: var(--green);
	border: none;
	padding: 5px;
	margin: 3px;
}

::placeholder {
	color: var(--green);
	opacity: 0.75;
}

.filelabel {
	display: inline-block;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	background-color: var(--medium-grey);
	color: var(--green);
	border: 3px solid var(--green);
}

input[type=file] {
	display: none;
}

hr {
	color: var(--green);
}

select {
	color: var(--green);
	background-color: var(--darkest-grey);
	border: solid var(--green);
	border-width: 2px;
	text-shadow: -0.06em 0 0.5px rgba(255, 200, 100, 0.9);
	appearance: none;
	font-weight: bold;
}

.messages {
	text-align: center;
	margin: 0 auto;
	font-size: 40px;
}

/*
MISC STYLING
*/

.underlinelinks {
	text-decoration: underline;
}

.hardtoseetext {
	color: black;
	text-shadow: 1px 1px 0 var(--green), -1px -1px 0 var(--green), 1px -1px 0 var(--green), -1px 1px 0 var(--green);
}


/*
STYLING FOR FORMS
*/

.authform input[type="text"] {
	width: 250px;
}

.authform input[type="email"] {
	width: 250px;
}

.authform input[type="password"] {
	width: 250px;
}

.authform h4 {
	margin: 3px;
}


/*
MAIN TAG STYLING
*/
main {
	margin-top: 280px;
}

/*
STYLING FOR DROPDOWN MENUS
*/
.dropdown {
	position: relative;
	background-color: var(--dark-grey);
	max-width: 100px;
	margin-left: 30px;
	margin-right: 30px;
}

.dropdown:hover {
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	text-align: center;
	background-color: var(--dark-grey);
	z-index: 2;
	width: 100%;
	overflow: auto;
}

.dropdown:hover .dropdown-content {
	display: inline-block;
}


/*
STYLING FOR LOADING ANIMATIONS ON THE SITE
*/
.lds-hourglass {
	display: none;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-hourglass:after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	margin: 8px;
	box-sizing: border-box;
	border: 32px solid white;
	border-color: var(--green) transparent var(--green) transparent;
	animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
	0% {
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	100% {
		transform: rotate(1800deg);
	}
}

/*
STYLING FOR SUBMISSION FORMS ON THE SITE
*/
#register, #login, #video-submit, #playlist-submit, #stream-submit, #bug-report, #forgotpass, #image-submit {
	text-align: center;
	width: 80vw;
	margin: 0 auto;
	font-size: 40px;
}

#register button,
#login button,
#video-submit button,
#playlist-submit button,
#stream-submit button,
#bug-report button,
#forgotpass button,
#image-submit, button {
	font-size: 50px;
}

#register input,
#login input,
#video-submit input,
#playlist-submit input,
#stream-submit input,
#bug-report input,
#forgotpass input,
#image-submit, input {
	font-size: 40px;
	width: 100%;
	margin: 15px;
	padding: 10px;
}

#register input[type='checkbox'],
#login input[type='checkbox'],
#video-submit input[type='checkbox'],
#playlist-submit input[type='checkbox'],
#stream-submit input[type='checkbox'],
#bug-report input[type='checkbox'],
#forgotpass input[type='checkbox'],
#image-submit, input[type='checkbox'] {
	width: 100px;
	height: 100px;
}

#register select,
#login select,
#video-submit select,
#playlist-submit select,
#stream-submit select,
#bug-report select,
#forgotpass select,
#image-submit, select {
	font-size: 40px;
	padding: 10px;
	margin: 15px;
}

#register textarea,
#login textarea,
#video-submit textarea,
#playlist-submit textarea,
#stream-submit textarea,
#bug-report textarea,
#forgotpass textarea,
#image-submit, textarea {
	font-size: 40px;
	width: 100%;
	margin: 15px;
	padding: 10px;
}



/*
IMPLEMENT BROWSER WIDTH CUTOFF FOR THE SITE BANNER
*/
@media only screen and (max-width: 1100px) {
	nav .banner {
		width: 1100px;
		position: absolute;
	}

	.tv-console {
		@extend .tv-console;
		flex-wrap: wrap;
	}	
}
