/*
STYLING FOR MENU ITEMS SUCH AS BANNERS AND NAVBARS
*/

/*
THE SITE BANNER AT THE TOP OF EACH PAGE
*/

/* style the banner in general */
nav .banner {
	background-color: var(--dark-grey);
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 230px;
	z-index: 10;
}

/* style the elements inside the banner to be larger for mobile */
nav .banner > * {
	transform: scale(1.2, 1.2);
}


/* style the banner icon container to the left of the banner */
nav .banner #banner-icon {
	margin: 20px;
}

/* style the banner icon to the left of the banner */
nav .banner #banner-icon img {
	width: 120px;
	height: 120px;
	margin: 20px;
	border-radius: 10%;
	border: solid var(--green);
	border-width: 3px;
}

/* style the search bar in the center of the banner */
nav .banner #searchbar form {
	display: grid;
	grid-template-areas:
		"searchquery searchbtn"
		"searchrecs searchrecs";
}

nav .banner #searchbar #searchbtn {
	grid-area: searchbtn;
	float: right;
}

nav .banner #searchbar #searchbtn button img {
	width: 100px;
	height: 100px;
	border-radius: 10%;
	border: solid var(--grey);
	border-width: 5px;
	margin-top: 30px;
}

nav .banner #searchbar #searchbtn button {
	border: none;
	background: none;
}

nav .banner #searchbar #searchbtn button:hover {
	cursor: pointer;
}

nav .banner #searchbar #searchquerydiv {
	grid-area: searchquery;
	float: left;
}

nav .banner #searchbar #searchquerydiv input {
	margin-top: 30px;
	background-color: var(--grey);
	color: var(--green);
	outline: none;
	border: solid var(--green);
	box-shadow: none;
	width: 300px;
	height: 100px;
	font-size: 40px;
}

nav .banner #searchbar #searchrecs {
	grid-area: searchrecs;
	display: none;
	position: absolute;
	text-align: center;
	background-color: var(--green);
	color: var(--medium-grey);
	min-width: 100%;
	max-width: 100%;
	z-index: 1;
	font-size: 25px;
}

nav .banner #searchbar #searchrecs a {
	color: var(--medium-grey);
}

/* make the channel or user icon in the corner invisible on mobile */
nav .banner #usercorner {
	display: none;
}

/*
THE DROPDOWN MENU ON THE BANNER
*/

nav .banner #actionsmenu {
	width: 120px;
}

nav .banner #actionsmenu #hover-icon {
	width: 100%;
	height: 120px;
	border-radius: 10%;
	border: solid var(--green);
	border-width: 3px;
}

nav .banner #actionsmenu .dropdown-content {
	border: solid var(--grey);
	width: 100%;
	font-size: 20px;
	max-height: 70vh;
	overflow-y: scroll;
}

nav .banner #actionsmenu .dropdown-content img {
	width: 90%;
	height: auto;
	border-radius: 10%;
	border: solid var(--green);
	border-width: 3px;
}

nav .banner #actionsmenu div {
	margin-top: 7px;
	margin-bottom: 7px;
}

nav .banner #actionsmenu * {
	margin: 0;
}
