/*
STYLESHEET FOR THUMBNAILS ON THE SITE
*/


/*
STYLE SECTIONS OF THUMBNAILS
*/
.group-videos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.search-videos {
	display: flex;
	flex-wrap: flex;
}

/*
INDIVIDUAL THUMBNAILS
*/

.video-thumbnail {
	padding: 0.5vw;
	margin: 0.5vw;
	background-color: var(--dark-grey);
	border: solid var(--green);
	border-width: 5px;
	text-align: center;
}

.group-videos .video-thumbnail {
	padding: 0.5vw;
	margin: 0.5vw;
	background-color: var(--dark-grey);
	border: solid var(--green);
	border-width: 5px;
	width: 100vw;
	height: auto;
	text-align: center;
}

.video-thumbnail .thumbnail img {
	vertical-align: top;
	background-color: black;
	width: 100%;
	height: auto;
}

.video-thumbnail .links {
	font-size: 40px;
}

.video-thumbnail .links .channel-links * {
	display: inline-block;
	vertical-align: top;
}

.video-thumbnail .links .channel-links #channel-icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: solid var(--green);
	border-width: 5px;
}

.video-thumbnail .links .channel-links #extras {
	padding: 30px;
	transform: scale(2);
}

.video-thumbnail .links .channel-links #extras:hover {
	cursor: pointer;
}

.video-thumbnail .links .channel-links .extralinks {
	display: none;
	position: absolute;
	background-color: var(--green);
	padding: 10px;
	border: solid black 5px;
	width: 30vw;
	height: auto;
}

.video-thumbnail .links .channel-links .extralinks button {
	margin: 10px;
	border: solid black 3px;
	font-size: 50px;
}

.video-thumbnail .links .channel-links .extralinks object {
	display: none;
}

.video-thumbnail .links .channel-links .extralinks object * {
	color: var(--dark-grey);
}

.not-interested-undo {
	display: none;
}
