.video-player {
	background-color: var(--dark-grey);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border: solid var(--green);
	font-size: 30px;
}

.video-container:fullscreen .video-player {
	width: 95vw;
	border: none;
	text-align: center;
	margin: 0 auto;
}

.video-container:fullscreen .video-player :not(#fullscreen) {
	display: none;
}

.video-player #playbtn {
	width: 100px;
	height: 100px;
}

.video-player .range::-moz-range-track {
	background: transparent;
	background-color: var(--green);
	animate: 0.2s;
	border: 1px solid black;
	border-radius: 10%;
}

.video-player .range::-moz-range-thumb {
	background-color: var(--grey);
	border: 1px solid black;
	border-radius: 10%;
}

.video-player .range {
	background: transparent;
}

.video-player .range:focus {
	cursor: pointer;
	outline: none;
}

.video-player #progress {
	width: 50%;
}

.video-player #volume {
	width: 15%;
}

.video-player #soundicon {
	width: 70px;
	height: 100px;
}

.video-player #timedisplay {
	color: var(--green);
}

.video-player #fullscreen {
	width: 140px;
	height: 140px;
}

.video-container:fullscreen .video-player #fullscreen {
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
	width: 70px;
	height: 70px;
}
