/*
STYLESHEET FOR THE VIDEO ELEMENT IN VIDEO VIEWS
*/


/*
VIDEO AND MISC
*/

.container {
	display: grid;
	grid-template-areas: 
	"video"
	"misc"
	"comments";
	width: 90vw;
	height: auto
	margin: 0 auto;
}

.container > * {
	margin: 0 auto;
}

/*
VIDEO BEING VIEWED
*/

.container .video-contents {
	grid-area: video;
	width: 1000px;
	border: solid var(--green);
	padding: 10px;
}

.container .video-contents .video-container {
	position: relative;
	width: auto;
	height: auto;
	background-color: rgb(32, 32, 32);
	overflow: none;
}

.container .video-contents .video-container #video {
	background-color: black;
	object-fit: contain;
	width: 100%;
	height: 90%;
}

.container .video-contents .video-container:fullscreen #video {
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 100vh;
}

.container .video-contents .video-container #loading {
	display: none;
}


/*
STYLE VIDEO TEXT
*/

.container .video-contents .videotext {
	width: 990px;
	background-color: #0f0f0f;
	padding: 5px;
}

.container .video-contents .videotext button {
	color: var(--green);
	background-color: var(--medium-grey);
}

.container .video-contents .videotext .channel-details {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.container .video-contents .videotext .channel-details #icon img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	text-align: center;
	margin: auto;
}

.container .video-contents .videotext .channel-details .video-buttons {
	margin-left: auto;
}

.container .video-contents .videotext .channel-details .video-buttons .subscribe-section #subscribebutton {
	width: 100%;
	height: 100%;
	font-size: 20px;
	color: var(--green);
	border: 2px solid var(--green);
	background-color: var(--medium-grey);
}

.container .video-contents .videotext .channel-details .video-buttons .likesection {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.container .video-contents .videotext .channel-details .video-buttons .likesection * {
	margin: 5px;
	font-size: 25px;
}

.container .video-contents .videotext .channel-details .video-buttons .likesection .likebuttons {
	width: 60px;
	height: 60px;
	color: var(--green);
	border: 2px solid var(--green);
	background-color: var(--green);
}

.container .video-contents .videotext .description {
	font-size: 15px;
}

.container .video-contents .videotext .extralinks object {
	display: none;
}

.container .video-contents .videotext #videosettings {
	background-color: var(--dark-grey);
	padding: 5px;
	height: 2em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.container .video-contents .videotext #videosettings select {
	font-size: 25px;
}

.container .video-contents .videotext #subtitles {
	display: none;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 1em;
	color: var(--green);
	background-color: black;
}

.container .video-contents .videotext #subtitles #subtitlesbox {
	color: white;
}

/*
MISC WHILE VIEWING VIDEOS
*/
.container .video-misc {
	grid-area: misc;
	max-width: 600px;
}

/*
STYLING THE "DELETED VIDEO" RECTANGLE
*/

.container .video-contents .video-container .novideo {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	width: 100%;
	height: auto;
}

/*
Media Queries for rearranging elements
*/

/*rearrange the layout of videos, misc, and comments*/
@media (max-width: 1800px) {
	.container {
		display: grid;
		grid-template-areas:
		"video"
		"misc"
		"comments";
	}

	.container > * {
		margin: 0 auto;
		width: 1000px;
	}
}

/* if the contents go below this width, then keep it visible */
@media (max-width: 1700px) {
	.container {
		width: 100%;
	}
}
