<div id="image-submit">
	<h1>Edit Your Image:</h1>

	<form action="/i/submit" method="POST" enctype='multipart/form-data' id="imageSubmitForm">
		<div>
			<input type="text" placeholder="Title" id="title" name="title" maxlength="300" value="<%= image.title %>" required>
		</div>
		<div>
			<label class="filelabel" for="thumbnail">Upload New Image (optional)</label><br>
			<input type="file" id="thumbnail" name="thumbnail" accept="image/*">
		</div>
		<div>
			<h2>Current Image:</h2>
			<img id="currentimage" src="<%= image.image %>" style="border: solid #adff12; padding: 10px;">
		</div><br>
		<div>
			<label for="includeChannelTopics">Include your channel topics? </label>
			<input type="checkbox" id="includeChannelTopics" name="includeChannelTopics">
		</div>
		<div>
			<label for="topics">Topics for Image (seperated by spaces):</label><br>
			<input type="text" placeholder="topic1 topic2" id="topics" name="topics" value="<%= image.topics %>" required>
		</div>
		<div>
			<label for="private">Make this image private?</label>
			<select id="private" name="private">
				<option value="false">No</option>
				<option value="true">Yes</option>
			</select>
		</div>

		<button class="submitbtn" id="submitImage" type="button" onclick="imageSubmitted();">Submit Edits</button>
		<h1 class="percentage"></h1>
		<div class="lds-hourglass"></div>
	</form>
</div>
