<!DOCTYPE html>

<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: "Error"}) %>
	</head>
	<body>
		<h1>ERROR:</h1>
		<h2><%= message %></h2>

		<% if (typeof redirecturl != 'undefined' && JSON.stringify(redirecturl) != '[]') { %>
			<a href="<%= redirecturl %>">[Return]</a>
		<% } else { %>
			<a href="/">Go Home</a>
		<% } %>
	</body>
</html>
