<!DOCTYPE html>

<html>
	<head>
		<%- include('content/html/head.html') %>
		<title>Error - Crumb</title>
	</head>
	<body>
		<h1>ERROR:</h1>
		<h2><%= message %></h2>

		<a href="/">Go Home</a>
	</body>
</html>
