<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/content/style/example.css">
	</head>
	<body>
		<h1>EXAMPLE PAGE:</h1>

		<button onclick="redirectTo('Really?', '/')">Home</button>

		<script>
			function redirectTo(confirmPrompt, link) {
				if (confirm(confirmPrompt)) {
					window.location.href = link;
				}
			}
		</script>
	</body>
</html>
