<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/content/style/example.css">
	</head>
	<body>
		<h1>EXAMPLE PAGE:</h1>

		<p><%= JSON.stringify(result[0].exists) %></p>
	</body>
</html>
