<!DOCTYPE html>
<html>
	<body>
		<h1>EXAMPLE PAGE:</h1>

		<p><%= videourl %></p>

		<video id="videotag" controls></video>

		<script>
			var videourl = <%- JSON.stringify(videourl) %>;
		</script>
		<script src="https://cdn.jsdelivr.net/npm/webtorrent@latest/webtorrent.min.js"></script>
		<script src="/content/javascript/torrentvid.js"></script>
	</body>
</html>
