<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/content/style/example.css">
	</head>
	<body>
		<h1>EXAMPLE PAGE:</h1>

		<%- include('content/ejs/navbar.ejs') %>

		<%- include('content/ejs/scripts.ejs') %>
	</body>
</html>
