<!DOCTYPE html>
<html>
	<body>
		<h1>EXAMPLE PAGE:</h1>

		<div>
			<h1>H1 inside a div</h1>
			<div>
				<p>*inside div*</p>
				<h1>H1 number 2</h1>
				<p>P</p>
			</div>
		</div>

		<%- include('content/ejs/scripts.ejs') %>
	</body>
</html>
