<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/content/icons/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/content/style/example.css">
	</head>
	<body>
		<h1>EXAMPLE PAGE:</h1>

		<h1>POST FORM EXAMPLE:</h1>
		<form action="/example" method="POST" enctype="multipart/form-data">
			<label for="file">PICK A FILE (post to see file signature):</label>
			<input type="file" id="file" name="file"><br>
			<input type="submit" value="Submit">
		</form>

		<script src="/content/javascript/formfunctions.js"></script>
		<script src="/content/javascript/example.js"></script>

		<!--
		<h1>VIDEO TORRENT EXAMPLE:</h1>
		<h2 id="status"></h2>
		<pre id="output"></pre>

		<video id="video" controls=""></video>

		<script src="/content/javascript/promisify.js"></script>
		<script src="/content/javascript/webtorrentExampleOutput.js"></script>
		-->
	</body>
</html>
