<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/content/icons/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/content/style/example.css">
	</head>
	<body>
		<h1>EXAMPLE PAGE:</h1>

		<div id="video-container">
			<video id="video" width="700" height="450">
				<source src="http://localhost/content/nyan.mp4" type="video/mp4">
			</video>
			<div id="video-player">
				<img src="/content/icons/play.png" id="playbtn">
				<input type="range" class="range" id="progress" min="0" max="100" value="0">
				<img src="/content/icons/light_bulb.png" id="soundicon">
				<input type="range" class="range" id="volume" min="0" max="100" value="100">
				<p id="timedisplay"></p>
				<img src="/content/icons/fullscreen.png" id="fullscreen">
			</div>
		</div>

		<!--
		<h1>POST FORM EXAMPLE:</h1>
		<form action="/example" method="POST" enctype="multipart/form-data">
			<label for="file">PICK A FILE:</label>
			<input type="file" id="file" name="file"><br>
			<button type="button" id="button">Submit</button>
		</form>
		-->

		<script src="/content/javascript/videocontrols.js"></script>

		<!--
		<h1>VIDEO TORRENT EXAMPLE:</h1>
		<h2 id="status"></h2>
		<pre id="output"></pre>

		<video id="video" controls=""></video>

		<script src="/content/javascript/promisify.js"></script>
		<script src="/content/javascript/webtorrentExampleOutput.js"></script>
		-->
	</body>
</html>
