<!DOCTYPE html>
<html>
	<head>
		<%- include('content/html/head.html') %>
		<title>Login - Crumb</title>
	</head>
	<body>
		<%- include('content/html/banner.html') %>
		<h1>Login:</h1>

		<div class="messages">
			<% if (typeof message != 'undefined') { %>
				<p><%= message %></p>
			<% } %>

			<ul>
				<% if (typeof errors != 'undefined') { %>
					<% errors.forEach((item, index) => { %>
						<li><%= item.message %></li>
					<% }); %>
				<% } %>
			</ul>
		</div>

		<form action="/login" method="POST" class="authform">
			<p>Enter Email or Username to Log in.</p>
			<div>
				<input id="username" name="username" placeholder="Username" autofocus>
			</div>
			<div>
				<input id="email" name="email" type="email" placeholder="Email">
			</div>
			<div>
				<input id="password" name="password" type="password" placeholder="Password">
			</div><br>
			<div>
				<input type="submit" value="Login">
			</div><br>
			<div class="underlinelinks">
				<a href="/register">Register?</a>
			</div>
		</form>
	</body>
</html>
