<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/main.css">
		<title>Login</title>
	</head>
	<body>
		<object data="/banner.html" class="bannerObj"></object>
		<h1>Login:</h1>

		<div class="messages">
			<% if (typeof message != 'undefined') { %>
				<p><%= message %></p>
			<% } %>

			<ul>
				<% if (typeof errors != 'undefined') { %>
					<% errors.forEach((item, index) => { %>
						<li><%= item.message %></li>
					<% }); %>
				<% } %>
			</ul>
		</div>

		<form action="/login" method="POST" class="authform">
			<ul>
				<li>Enter Email or Username to Log in.</li>
			</ul>
			<div>
				<input id="username" name="username" placeholder="Username" autofocus>
			</div>
			<div>
				<input id="email" name="email" type="email" placeholder="Email">
			</div>
			<div>
				<input id="password" name="password" type="password" placeholder="Password">
			</div>
			<div>
				<input type="submit" value="Login">
			</div>
			<a href="/register">Register?</a>
		</form>
	</body>
</html>
