<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<h1>Login:</h1>

		<div class="messages">
			<% if (typeof message != 'undefined') { %>
				<p><%= message %></p>
			<% } %>

			<ul>
				<% if (typeof errors != 'undefined') { %>
					<% errors.forEach((item, index) => { %>
						<li><%= item.message %></li>
					<% }); %>
				<% } %>
			</ul>
		</div>

		<form action="/login" method="POST">
			<div>
				<input id="email" name="email" type="email" placeholder="name@example.com">
			</div>
			<div>
				<input id="password" name="password" type="password" placeholder="Password">
			</div>
			<div>
				<input type="submit" value="Login">
			</div>
			<a href="/register">Register?</a>
		</form>
	</body>
</html>
