<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/main.css">
		<title>Register</title>
	</head>
	<body>
		<object data="/banner.html" class="bannerObj"></object>

		<h1>Register:</h1>

		<div class="messages">
			<% if (typeof message != 'undefined') { %>
				<p><%= message %></p>
			<% } %>

			<ul>
				<% if (typeof errors != 'undefined') { %>
					<% errors.forEach((item, index) => { %>
						<li><%= item.message %></li>
					<% }); %>
				<% } %>
			</ul>
		</div>

		<form action="/register" method="POST" class="authform" enctype="multipart/form-data">
			<div>
				<input id="username" name="username" type="text" placeholder="Username" autofocus>
			</div>
			<div>
				<input id="email" name="email" type="email" placeholder="Email (Optional)">
			</div>
			<div>
				<input id="password" name="password" type="password" placeholder="Password">
			</div>
			<div>
				<input id="password2" name="password2" type="password" placeholder="Password Confirmation">
			</div><br>
			<div class="authfileinput">
				<h4>Channel Icon (optional): </h4>
				<input id="channelicon" name="channelicon" type="file" accept="image/*">
			</div><br>
			<div class="authfileinput">
				<h4>Channel Banner Image (optional): </h4>
				<input id="channelbanner" name="channelbanner" type="file" accept="image/*">
			</div><br>
			<div>
				<input type="submit" value="Register">
			</div><br>
			<div class="underlinelinks">
				<a href="/login">Existing User?</a>
			</div>
		</form>
	</body>
</html>
