<!DOCTYPE html>
<html>
	<head>
		<%- include('content/html/head.html') %>
		<title>Livestream - Crumb</title>
	</head>
	<body>
		<%- include('content/html/banner.html') %>

		<%- include('content/html/body.html') %>

		<video id="livestream" controls=""></video>
		<script src="/content/javascript/showstream.js"></script>
	</body>
</html>
