<div id="adRegistration">
	<h1>Register your account for advertising:</h1>

	<form action="/adregistration" method="POST" id="adRegistrationForm">
		<label for="businessDomain">Domain name of your business</label>
		<input id="businessDomain" name="businessDomain" type="url" value="https://" required><br>

		<label for="businessEmail">Email of your business:</label>
		<input id="businessEmail" name="businessEmail" type="email" required><br>

		<div id="cardForm"></div>

		<button class="submitbtn" id="submitAdvertiserBtn" type="button" onclick="submitAdvertiser()">Register</button>
		<h1 class="percentage"></h1>
		<div class="lds-hourglass"></div>
	</form>
</div>
