<!--The banner that appears on top of each page on the site-->

<div class="banner">
	<div id="banner-icon">
		<a href="/" target="_parent" title="Go Home">
			<img src="/content/icons/astro.png">
		</a>
	</div>

	<div id="searchbar">
		<form action="/search" method="get" target="_parent">
			<div id="searchbtn">
				<button type="submit" value="Submit"><img src="/content/icons/search.png"></button>
			</div>
			<div id="searchquerydiv">
				<input type="text" id="searchquery" name="searchquery" onkeyup="keyupSearch()" required>
			</div>
			<div id="searchrecsdiv">
				<div id="searchrecs"></div>
			</div>
		</form>
	</div>

	<div id="actionsmenu" class="dropdown" title="Do Stuff!">
		<img id="hover-icon" src="/content/icons/astro_flat.png"><br>
		<div class="dropdown-content">
			<% if (typeof user != 'undefined') { %>
				<% var channellink = `/u/${user.id}`; %>
				<a href="<%= channellink %>" title="Your Channel!"><img src="/content/icons/house_dark.png"></a><br>
				<a href="/tv" title="TV!"><img src="/content/icons/astro_flat.png"></a><br>
				<a href="/v/submit" title="Submit a Video!"><img src="/content/icons/video_dark.png"></a><br>
				<a href="/playlist/new" title="Make a Playlist!"><img src="/content/icons/playlist_dark.png"></a><br>
				<a href="/l/start/web" title="Do a Webcam Stream!"><img src="/content/icons/webcam_dark.png"></a><br>
				<a href="/l/start/obs" title="Do an OBS Stream!"><img src="/content/icons/obs_dark.png"></a><br>
				<a href="/logout" title="Log Out?"><img src="/content/icons/exit_dark.png"></a>
			<% } else { %>
				<a href="/register" title="Register"><img src="/content/icons/register.png"></a>
				<a href="/login" title="Login"><img src="/content/icons/login.png"></a><br>
			<% } %>
		</div>
	</div>

	<div id="usercorner">
		<% if (typeof user != 'undefined') { %>
			<a id="channelcorner" title="Go to channel!" href="/u/<%= user.id %>"><img src="<%= user.channelicon %>"></a>
		<% } else { %>
			<a id="signincorner" title="Sign In" href="/login"><img src="/content/icons/login.png"></a>
		<% } %>
	</div>
</div>
