<div class="messages">
	<% if (typeof message != 'undefined') { %>
		<p><%= message %></p>
	<% } %>

	<ul>
		<% if (typeof errors != 'undefined') { %>
			<% errors.forEach((item, index) => { %>
				<li><%= item.message %></li>
			<% }); %>
		<% } %>
	</ul>
</div>
