<% if (typeof videos != 'undefined') { %>
	<div class="group-videos">
		<% videos.forEach((item, index) => { %>
			<%- include('./thumbnail.ejs', {video: item}) %>
		<% }); %>
	</div>
<% } else { %>
	<p>No Videos Yet!</p>
<% } %>
