<% if (typeof user != 'undefined') { %>
	<% if (user.id == creator.id) { %>
		<form method="post" action="/shoutout/add" id="shoutoutform">
			<label for="shoutout">Shoutout Channel URL:</label>
			<input type="text" id="shoutout" name="shoutout"><br>
			<button type="submit">Submit</button>
		</form><br>
	<% } %>
<% } %>
<% if (typeof shoutouts != 'undefined' && shoutouts.length) { %>
	<hr>
	<% shoutouts.forEach((item, index) => { %>
		<%- include('./minichannel.ejs', {channel: item}) %>
		<% if (typeof user != 'undefined') { %>
			<% if (user.id == creator.id) { %>
				<button onclick="redirectConfirm('Delete Shoutout?', '/shoutout/delete/<%= item.id %>')">Delete Shoutout</button>
			<% } %>
		<% } %>
		<hr>
	<% }); %>
<% } else { %>
	<p>No channel shoutouts for this user.</p>
<% } %>
