<!--The form for submitting messages into the live chat of livestreams-->

<div id="chatForm">
	<input type="text" id="message" placeholder="Say Something!" maxlength="300">
	<button id="submitBtnChat" onclick="sendMessage()">Post</button>
</div>
