<!--EJS included in each document head on the site-->

<link rel="stylesheet" type="text/css" href="/content/style/main.css">
<link rel="shortcut icon" href="/content/icons/astro_flat.png" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<% if (typeof title != 'undefined') { %>
	<title><%= title %> - Astro</title>
<% } else { %>
	<title>Astro</title>
<% } %>
