<!--this is an html file for including things that are common across all head tags in all html files-->
<link rel="stylesheet" type="text/css" href="/content/style/main.css">
<link rel="shortcut icon" href="/content/icons/favicon.ico" type="image/x-icon">
<% if (typeof title != 'undefined') { %>
	<title><%= title %> - Gem Sweeper</title>
<% } else { %>
	<title>Gem Sweeper</title>
<% } %>


