<div id="login">
	<h1>Login:</h1>

	<form action="/login" method="POST" class="authform" id="loginform">
		<p>Enter your Information to Log in.</p>
		<div>
			<input id="username" name="username" placeholder="Username" autofocus required>
		</div>
		<div>
			<input id="password" name="password" type="password" placeholder="Password" required>
		</div><br>

		<button class="submitbtn" type="button" onclick="loginSubmitted();">Login</button>
		<h1 class="percentage"></h1>
		<div class="lds-hourglass"></div>
		<br><br>

		<div class="underlinelinks">
			<a href="/register">Register?</a>
		</div>
	</form>
</div>
