<% if (typeof videoid != 'undefined') { %>
	<div class="player-container">
		<div class="video-container">
			<div id="loading"></div>
			<video id="video" controls="">
				<source src="http://localhost/video/<%= videoid %>" type="video/mp4">
				<source src="http://localhost/video/<%= videoid %>" type="video/webm">
				<source src="http://localhost/video/<%= videoid %>" type="video/ogg">
				<h1>HTML Video is not supported in your browser, sorry.</h1>
			</video>
		</div>
	</div>
<% } %>
