<div id="paymentRegistration">
	<h1>Register your account to get paid:</h1>

	<form action="/paymentregistration" method="POST" id="paymentRegistrationForm">
		<div id="cardForm"></div><br>

		<button class="submitbtn" id="submitCustomer" type="button" onclick="submitPayment()">Register</button>
		<h1 class="percentage"></h1>
		<div class="lds-hourglass"></div>
	</form>
</div>
