<div class="video-player">
	<img src="/content/icons/play.png" id="playbtn">
	<input type="range" class="range" id="progress" min="0" max="100" value="0">
	<img src="/content/icons/light_bulb.png" id="soundicon">
	<input type="range" class="range" id="volume" min="0" max="100" value="100">
	<p id="timedisplay"></p>
	<img src="/content/icons/fullscreen.png" id="fullscreen">
</div>
